@font-face {
  font-family: number;
  src: url(clock-number.f0c47848.ttf);
}
body,
html {
  font-family: number;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  overflow: hidden;
  background-color: #000;
  color: rgba($color: #FFF, $alpha: .5);
}
p{
  margin: 0;
  padding: 0;
}
[v-cloak] {
  display: none;
}
#clock{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .time{
    display: flex;
    font-size: 23vw;
    position: relative;
    padding-right: 5vw;
    color: rgba($color: #FFF, $alpha: .6);
    &::after{
      content: '';
      display: block;
      width: .5vw;
      height: 17vw;
      background: rgba($color: #FFF, $alpha: .5);
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  .date{
    padding-left: 5vw;
    font-size: 9vw;
    div{
      display: flex;
    }
    .month{
      margin-right: 1vw;
    }

  }
}